<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="CardSpace">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.IO.Log">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.IdentityModel">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="c:\temp\HttpAndNet35.svclog" />
    </sharedListeners>
  </system.diagnostics>

  <system.net>
    <settings>
      <servicePointManager checkCertificateName="false" checkCertificateRevocationList="false" />
    </settings>
    <defaultProxy enabled="false">
    </defaultProxy>
  </system.net>
    <system.serviceModel>
      <diagnostics>
        <messageLogging
            logEntireMessage="true"
            logMalformedMessages="true"
            logMessagesAtServiceLevel="true"
            logMessagesAtTransportLevel="true"
            maxMessagesToLog="3000"
            maxSizeOfMessageToLog="2000"/>
      </diagnostics>
        <bindings>
          <ws2007FederationHttpBinding>
            <binding name="WS2007FederationHttpBinding_IDemoService">
              <security mode="TransportWithMessageCredential" >
                <message issuedKeyType="SymmetricKey">
                  <issuer
                    address="https://localhost:44500/Service.svc"
                    binding="ws2007HttpBinding"
                    bindingConfiguration="adfsBinding">
                    <identity>
                      <certificateReference storeLocation="LocalMachine" storeName="My" findValue="18145fb6b5d96b3cc34ec7599f12172bb93c68ef" x509FindType="FindByThumbprint"/>
                    </identity>
                  </issuer>
                  <tokenRequestParameters>
                    <AppliesTo xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy">
                      <EndpointReference xmlns="http://www.w3.org/2005/08/addressing">
                        <Address>urn:claimsdemo:https35</Address>
                      </EndpointReference>
                    </AppliesTo>
                  </tokenRequestParameters>
                </message>
              </security>
            </binding>
          </ws2007FederationHttpBinding>
            <ws2007HttpBinding>
                <binding name="adfsBinding">
                    <security mode="Transport">
                      <transport clientCredentialType="None"/>
                      <message clientCredentialType="None" establishSecurityContext="false"  />
                    </security>
                </binding>
            </ws2007HttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44535/DemoService.svc" binding="ws2007FederationHttpBinding"
                bindingConfiguration="WS2007FederationHttpBinding_IDemoService"
                contract="WifExamples.Common.IDemoService" name="WS2007FederationHttpBinding_IDemoService">
                <identity>
                  <certificateReference storeLocation="LocalMachine" storeName="My" findValue="a2028f8e7f7b082cd35e81fd0ca0b70b04651abf" x509FindType="FindByThumbprint"/>
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>