<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <settings>
      <servicePointManager checkCertificateRevocationList="false" />
    </settings>
    <defaultProxy enabled="false" />
  </system.net>
  <system.serviceModel>
    <bindings>
      <ws2007FederationHttpBinding>
        <binding name="WS2007FederationHttpBinding_IDemoService">
          <security mode="Message" >
            <message issuedKeyType="SymmetricKey">
              <issuer
                address="https://localhost:44500/Service.svc"
                binding="ws2007HttpBinding"
                bindingConfiguration="adfsBinding">
                <identity>
                  <certificateReference storeLocation="LocalMachine" storeName="My" findValue="18145fb6b5d96b3cc34ec7599f12172bb93c68ef" x509FindType="FindByThumbprint"/>
                </identity>
              </issuer>
              <tokenRequestParameters>
                <AppliesTo xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy">
                  <EndpointReference xmlns="http://www.w3.org/2005/08/addressing">
                    <Address>urn:claimsdemo:http35</Address>
                  </EndpointReference>
                </AppliesTo>
              </tokenRequestParameters>
            </message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>
      <ws2007HttpBinding>
        <binding name="adfsBinding">
            <security mode="Transport">
              <transport clientCredentialType="None"/>
              <message clientCredentialType="None" establishSecurityContext="false"  />
            </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientEndpointBehavior" >
          <clientCredentials>
            <serviceCertificate>
              <authentication revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:44835/DemoService.svc" binding="ws2007FederationHttpBinding"
          bindingConfiguration="WS2007FederationHttpBinding_IDemoService" behaviorConfiguration="ClientEndpointBehavior"
          contract="WifExamples.Common.IDemoService" name="WS2007FederationHttpBinding_IDemoService">
          <identity>
            <!--<certificateReference storeLocation="LocalMachine" storeName="My" findValue="a2028f8e7f7b082cd35e81fd0ca0b70b04651abf" x509FindType="FindByThumbprint"/>-->
          </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>