<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <ws2007FederationHttpBinding>
        <binding name="WS2007FederationHttpBinding_IDemoService">
          <security mode="Message" >
            <message issuedKeyType="SymmetricKey">
              <issuer
                address="https://localhost:44500/TokenService.svc"
                binding="ws2007HttpBinding"
                bindingConfiguration="adfsBinding">
              </issuer>
              <tokenRequestParameters>
                <AppliesTo xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy">
                  <EndpointReference xmlns="http://www.w3.org/2005/08/addressing">
                    <Address>urn:claimsdemo:http35</Address>
                  </EndpointReference>
                </AppliesTo>
              </tokenRequestParameters>
            </message>
          </security>
        </binding>
      </ws2007FederationHttpBinding>
      <ws2007HttpBinding>
        <binding name="adfsBinding">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="None" establishSecurityContext="false"  />
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientEndpointBehavior" >
          <clientCredentials>
            <serviceCertificate>
              <authentication revocationMode="NoCheck" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="http://localhost:44835/DemoService.svc" binding="ws2007FederationHttpBinding"
          bindingConfiguration="WS2007FederationHttpBinding_IDemoService" behaviorConfiguration="ClientEndpointBehavior"
          contract="WifExamples.Common.IDemoService" name="WS2007FederationHttpBinding_IDemoService">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>