<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
  </configSections>
  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestValidationMode="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.identityModel>
    <identityConfiguration>
      <certificateValidation certificateValidationMode="None" />
      <audienceUris>
        <!-- We accept security tokens issued for the following application names -->
        <add value="urn:claimsdemo:http45" />
      </audienceUris>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <trustedIssuers>
          <!-- The information below is used to validate your users' SAML tokens -->
          <!-- The "name" parameter must match the "issuer" parameter in the tokens -->
          <!-- and the tokens need to be signed by the certificate specified by "thumbprint" -->
          <add name="DummySTS" thumbprint="18145fb6b5d96b3cc34ec7599f12172bb93c68ef" />
        </trustedIssuers>
      </issuerNameRegistry>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <!-- Here are instructions on where to redirect unauthenticated web users -->
      <wsFederation passiveRedirectEnabled="true" issuer="https://localhost:44500/" realm="urn:claimsdemo:http45" requireHttps="false" />
      <cookieHandler requireSsl="false" />
      <serviceCertificate>
        <!-- This certificate is used to decrypt security tokens from the STS -->
        <certificateReference x509FindType="FindByThumbprint" findValue="a2028f8e7f7b082cd35e81fd0ca0b70b04651abf" storeLocation="LocalMachine" storeName="My" />
      </serviceCertificate>
    </federationConfiguration>
  </system.identityModel.services>
  <!-- The system.serviceModel section is all about WCF services -->
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!-- principalPermissionMode makes WCF services always impersonate the calling user. Neccesary for role authorization. -->
          <serviceAuthorization principalPermissionMode="Always"/>
          <!-- useIdentityConfiguration="true" enables WIF in ".NET 4.5 mode" -->
          <serviceCredentials useIdentityConfiguration="true">
            <!-- This certificate is used by WCF services for data encryption -->
            <serviceCertificate x509FindType="FindByThumbprint" findValue="a2028f8e7f7b082cd35e81fd0ca0b70b04651abf" storeLocation="LocalMachine" storeName="My" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add scheme="http" binding="ws2007FederationHttpBinding" />
    </protocolMapping>
    <bindings>
      <ws2007FederationHttpBinding>
        <binding>
          <!-- mode="Message" is used for HTTP WCF services  -->
          <security mode="Message" />
        </binding>
        </ws2007FederationHttpBinding>
      </bindings>
  </system.serviceModel>
</configuration>