<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="TokenService">
      <section name="ReplyToAddresses" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <TokenService>
    <ReplyToAddresses>
      <add key="urn:claimsdemo:https35" value="https://localhost:44535/" />
      <add key="urn:claimsdemo:http35" value="http://localhost:44835/" />
      <add key="urn:claimsdemo:https40" value="https://localhost:44540/" />
      <add key="urn:claimsdemo:http40" value="http://localhost:44840/" />
      <add key="urn:claimsdemo:https45" value="https://localhost:44545/" />
      <add key="urn:claimsdemo:http45" value="http://localhost:44845/" />
    </ReplyToAddresses>
  </TokenService>
    <appSettings>
      <add key="IssuerName" value="DummySTS"/>
      <add key="SigningCertificateHash" value="18145fb6b5d96b3cc34ec7599f12172bb93c68ef"/>
      <add key="EncryptingCertificateHash" value="a2028f8e7f7b082cd35e81fd0ca0b70b04651abf"/>
    </appSettings>
  <connectionStrings />
  <location path="FederationMetadata">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
         <add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
        <forms loginUrl="Login.aspx" protection="All" timeout="30" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="default.aspx" cookieless="UseDeviceProfile" enableCrossAppRedirects="false" />
    </authentication>
    <!-- Deny Anonymous users. -->
    <authorization>
        <deny users="?" />
    </authorization>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Microsoft.IdentityModel.Protocols.WSTrust.WSTrustServiceContract" behaviorConfiguration="ServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:44500/Service.svc" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="ws2007HttpBinding" contract="Microsoft.IdentityModel.Protocols.WSTrust.IWSTrust13SyncContract"  bindingConfiguration="ws2007HttpBindingConfiguration"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <ws2007HttpBinding>
        <binding name="ws2007HttpBindingConfiguration">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
