<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <ws2007HttpBinding>
        <binding name="adfsBinding">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </ws2007HttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44500/TokenService.svc" binding="ws2007HttpBinding"
          contract="System.ServiceModel.Security.IWSTrustChannelContract" name="tokenService">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>